Firebase Google URL:

"https://react-project-4a843-default-rtdb.europe-west1.firebasedatabase.app"


URL for \\wsl$\Ubuntu\home\tomzor\code\TomVisTor\react\react-complete-guide-code\14-http-requests\06-preparing-the-project-for-the-next-steps :
"https://react-project-4a843-default-rtdb.europe-west1.firebasedatabase.app/movies.json"